
<%= simple_form_for(@account) do |f| %>
    <%= f.input :first_name, label: 'Name'%>
    <%= f.input :last_name, label: 'Last Name' %>
    <%= f.input :birthday ,
                :as => :date,
                :start_year => Date.today.year - 60,
                :end_year => Date.today.year - 12,
                :order => [:day, :month, :year], label: 'Birthday'%>
    <%= f.input :phone , label: 'Phone (E.G. 3005520741)'%>
    <%= f.input :email , label: 'Type your email'%>

    <div class="d-flex justify-content-center my-0">
      <%= f.submit 'Update', class:"btn-rainbow-link" %>
      <%#= link_to "Back", edit_user_registration_path  %>
    </div>
  <% end %>
