<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('slide6.jpeg') %>);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>





<div class="container-small">
  <h1>This is a title h1</h1>
  <h2>This is a title h2</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet malesuada magna a sollicitudin. Proin ut urna porta, dignissim purus ac, congue nibh. Etiam accumsan tincidunt faucibus. Donec id odio enim. Ut vehicula odio et arcu dictum porttitor. Nunc condimentum lorem sapien, id feugiat dolor porttitor sed. Nunc tempor eget lacus nec mollis. Nam vel odio est. Pellentesque diam augue, pulvinar quis justo sed, bibendum vestibulum orci. Donec luctus elit a pellentesque luctus. Nullam in metus risus. Mauris lorem enim, mattis et metus eget, porttitor pretium massa. Proin maximus a tellus et pellentesque. Fusce vestibulum metus vitae efficitur posuere. Maecenas a commodo purus. Sed efficitur ac orci vitae elementum.</p>


  <h1>Cards</h1>

  <div class="card-header">
    <%= image_tag "brain.png", class: "avatar-medium" %>

    <div class="card-header-info">
      <h2>This is tittle h2</h2>
      <p>Describenos el tipo de trabajo y te conseguiremos <strong>la persona apropiada</strong> para el trabajo</p>
    </div>

  </div>


  <div class="card-lister">
    <h2>This is title h2</h2>
    <p>Describenos el tipo de trabajo y te conseguiremos <strong>la persona apropiada</strong> para el trabajo</p>

    <div class="card-lister-info">
      <ul>
        <li>
          <p><i class="fa-solid fa-thumbs-up"></i>This is a text</p>
        </li>
        <li>
          <p><i class="fa-solid fa-thumbs-up"></i>This is a text</p>
        </li>
        <li>
          <p><i class="fa-solid fa-thumbs-up"></i>This is a text</p>
        </li>
        <li>
          <p><i class="fa-solid fa-thumbs-up"></i>This is a text</p>
        </li>
        <li>
          <p><i class="fa-solid fa-thumbs-up"></i>This is a text</p>
        </li>
      </ul>
    </div>

  </div>




<br>
<br>
<br>
<br>

</div>


<div class="dark-background  ">
  <div class="container-small">
    <h1>Buttons Dark</h1>
  </div>

  <div class="container-small d-flex justify-content-center">

    <div class="btn-rainbow-container">
      <%= link_to "✒️ root ",root_path, class: "btn-rainbow-link" %>
    </div>

    <div class="btn-rainbow-blue-container">
      <%= link_to "✒️ root ",root_path, class: "btn-rainbow-blue-link" %>
    </div>

  </div>
</div>


<h1>Bootstrap components</h1>

<div class="container-small">
  <div class="accordion px-3" id="accordionExample">
    <h2>For the Q&A</h2>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
</div>



<br>

<br>
<h2>Carousel</h2>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <%=image_tag "slide1.jpeg", class: "d-block w-100 carouselExample carouselExoreimage"%>
    </div>
    <div class="carousel-item">
      <%=image_tag "slide2.jpeg", class: "d-block w-100 carouselExample carouselExoreimage"%>
    </div>
    <div class="carousel-item">
      <%=image_tag "slide5.jpeg", class: "d-block w-100 carouselExample carouselExoreimage"%>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

<br>

<br>

<br>

<div class="footer_onboarding_section">
  <div class="container-small">
    <div class="footer_onboarding_buttons">

      <div class="btn-rainbow-container">
        <%= link_to "vrvefelfmlerf regmrekgre regrer ",root_path, class: "btn-rainbow-link" %>
        </div>


      <div class="btn-rainbow-container">
        <%= link_to "✒️ dmflkermgkremgkremglkre ",root_path, class: "btn-rainbow-link" %>
      </div>

    </div>
  </div>

</div>
