<div class="banner" style="background-image: linear-gradient(rgba(8,33,41,0.6),rgba(8,33,41,0.6)), url(<%= asset_path('background_exore.jpeg') %>);">
  <div class="container">
    <h1>Welcome to EXORE.net <strong>Start-Up</strong> <strong>Marketplace</strong>!</h1>
    <p>Join the best tech talent and exciting startups on Exore by logging in</p>
  </div>

</div>

<div class="container-small">

  <div class="onboaring_margin_negative">
    <div class="card-lister">
      <h2>Are you seeking to =></h2>
      <div class="card-lister-info">
        <ul>
          <li>
            <p><i class="fa-solid fa-thumbs-up"></i>Remote-friendly job</p>
          </li>
          <li>
            <p><i class="fa-solid fa-thumbs-up"></i>Work along side people changing the world</p>
          </li>
          <li>
            <p><i class="fa-solid fa-thumbs-up"></i>Become a technical co-founder</p>
          </li>
          <li>
            <p><i class="fa-solid fa-thumbs-up"></i>Earn money using your connections</p>
          </li>
        </ul>
      </div>

    </div>

    <div class="card-header">
      <%= image_tag "brain.png", class: "avatar-medium" %>
      <div class="card-header-info">
        <h2>Join our exclusive network</h2>
        <p>Unleash your potential with us - where elite senior developers connect with trailblazing startups and tech-driven companies!.</p>
        <p><span>IT TAKES LESS THAN</span><strong> 3 MINUTES</strong></p>
      </div>
    </div>

    <div class="card-lister">
      <h2>How it works</h2>
      <p>Maximize your potential in the startup ecosystem with our comprehensive onboarding program that prepares you for success and answers any question you may have.</p>
      <div class="card-lister-info">
        <ul>
          <li>
            <p><i class="fa-solid fa-chalkboard-user"></i>1. Fill out a short form to tell us about yourself.</p>
          </li>
          <li>
            <p><i class="fa-solid fa-headphones-simple"></i>2. Speak with our <strong>Startup Culture Gurus</strong> in a personalized interview.</p>
          </li>
          <li>
            <p><i class="fa-solid fa-fingerprint"></i>3. Receive <strong>personalized job offers</strong> via your preferred channels, such as WhatsApp or Discord</p>
          </li>
          <li>
            <p><i class="fa-solid fa-diagram-project"></i>Extra. Apply for the <strong>Expert Referral Program</strong> to user your knowledge and network to earn money </p>
          </li>
        </ul>
      </div>

    </div>

    <div class="accordion-space">
      <div class="accordion px-3" id="accordionExample">
        <h2>Q&A</h2>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How does Exore.net help connect me with exciting startups in my field of expertise?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Exore.net</strong> uses advanced algorithms and a network of industry professionals to match you with exciting startups that are looking for talent in your field of expertise. We also have a team of HR experts who vet each job posting to ensure that it meets our high standards.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How does the selection process work?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              At <strong>Exore.net</strong> , we have a rigorous selection process to ensure that we only match job candidates with the best companies. This includes a thorough review of each candidate's experience and qualifications, followed by an interview with our Startup Culture Gurus to assess their fit with our community. From there, we work with each candidate to find the best job opportunities for them based on their skills and preferences.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How does the Referral program work?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Once you sign up for the program, you'll receive a unique referral link that you can share with your network. When someone clicks on your link and gets hired through http://Exore.net , you'll receive a percentage of their first month's salary as a reward. Plus, you'll be helping other professionals find great new job opportunities in the process.The amount varies between positions but it could go between 1000 to 5000 USD.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            When do I get paid if I refer someone?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You will receive payment once the referred candidate has been placed in a job and has completed their probationary period. We transfer via Wire and Paypal. (We are currently experimenting with USDT, but it is not available yet.)
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<div class="footer_onboarding_section">
  <div class="container-small">
    <div class="footer_onboarding_buttons d-flex justify-content-center">
      <%= render "devise/shared/linkedin" %>
    </div>
  </div>

</div>

<%#
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <%# <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%# <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%# <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  <%# </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  <%# </div>
<% end %>
